.course-notification-table-chip {
    border: 1px solid black;
    background: #f5fafd;
    padding: 5px 8px;
    font-size: 15px;
    margin: 0 0 10px 10px;
    cursor: pointer;
    margin-top: 20px;
}