.access {
    max-width: 834px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $light-blue;
    border-radius: 15px;
    padding: 50px 55px;

    & > h2 {
        font-size: 26px;
        line-height: 35px;
        color: $brand-blue;
        font-weight: 600;
    }

    & > p {
        font-size: 16px;
        line-height: 25px;

        & > span {
            font-weight: 600;
            color: $brand-blue;
        }
    }

    & > button {
        background-color: $indigo-dye;
        color: $white;
        cursor: pointer;
        margin-top: 20px;
        border-radius: 50px;
        height: 70px;
        width: 415px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 21px;
        line-height: 19px;
        border: 0;
        outline: none;
    }
}
