.lesson-page-header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color: lighten($blue, 54.5%);
    font-weight: bold;

    > i {
        display: none;
    }
    @media screen and (max-width: 1200px) {
        position: fixed;
        top: 48px;
        z-index: 300;

        > i {
            display: block;
            margin-right: 20px;

            & > svg {
                width: 25px;
                height: 25px;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }

    > span {
        > i {
            margin: 0 10px;
        }
    }
}
