.course-layout {
    $self: &;

    .cmenu {
        position: absolute;
        left: 0;
        scroll-padding: 82px;
    }

    .lesson-cards {
        position: relative;
        flex: 1;
        max-width: calc(100vw - #{$cmenu});
        transition: max-width 0.15s ease-out, width 0.15s ease-out;

        & > * {
            transition: opacity 0.15s ease-out;
        }
    }

    &.no-transition {
        .cmenu {
            transition: transform 0s ease-out;
        }

        .lesson-cards {
            transition: max-width 0s ease-out, width 0s ease-out;
        }
    }

    &.cmenu--hidden {
        .lesson-cards {
            transform: translateX(0);
            max-width: 100vw;
        }
    }
}
