.theme-navy {
    background-color: #fff;
    color: #000;

    > header {
        background-color: #26265f;
        color: #fff;
        padding: 20px 25px 20px 20px;
    }
}

.theme-green {
    background-color: #fff;
    color: #000;

    > header {
        background-color: #2fcca1;
        color: #fff;
        padding: 20px 25px 20px 20px;
    }
}

.theme-blue {
    background-color: #a0d6ef;
    color: #000;

    > header {
        background-color: #a0d6ef;
    }
}

.theme-cyan {
    background-color: #aceded;
    color: #000;

    > header {
        background-color: #aceded;
    }
}

.theme-yellow {
    background-color: #fef5c5;
    color: #000;
    > header {
        background-color: #fef5c5;
    }
}

.theme-cinderalla {
    background-color: #fde3d1;
    color: #000;
    > header {
        background-color: #fde3d1;
    }
}

.theme-honeydew {
    background-color: #ebfaf6;
    color: #000;
    > header {
        background-color: #ebfaf6;
    }
}

.theme-orange {
    background-color: #ffd9a7;
    color: #000;
    > header {
        background-color: #ffd9a7;
    }
}

.theme-pink {
    background-color: #ffbbb9;
    color: #000;
    > header {
        background-color: #ffbbb9;
    }
}

.theme-kobi {
    background-color: #eca8d4;
    color: #000;
    > header {
        background-color: #eca8d4;
    }
}

.theme-vanilla {
    background-color: #eecee6;
    color: #000;
    > header {
        background-color: #eecee6;
    }
}
