.document-page {
    header {
        min-height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h1 {
            font-size: 24px;
            text-align: center;
            padding: 20px 25px 20px 20px;
        }
    }

    .content {
        padding: 20px;
    }
    iframe {
        width: 100%;
        height: calc(100vh - 54px);
        border-bottom: 24px solid #323639;
        // border-top: none;
    }
}
