$default-breakpoint: 900px;

$brand-blue: #25255e;
$brand-cyan: #2fcca1;
$brand-cyan-light: #d2f5eb;
$brand-red: #e65f2b;
$gray: #2d2d2d;
$mid-dark-gray: #868686;
$light-gray: #7e7e7e;
$mid-gray: #dadada;
$very-light-gray: #f9f8f8;
$black: #121212;
$white: #fff;
$cyan: #f5fafd;

$blue: #2f74ac;
$light-blue: #f0f8ff;
$azure-white: #d5def0;
$indigo-dye: #0052b2;
$madison: #0c2662;
$gallery: #f0f0f0;
$stratos: #01014b;
$ebony-clay: #23283f;
$victoria: #3c3c88;
$cornflower-blue: #549de6;
$red: #ff4343;

$opaque-bg: hsla(0, 0%, 75%, 0.8);
$light-opaque-bg: hsla(0, 0%, 90%, 0.8);
$box-shadow-default: 2px 2px 10px rgba(0, 0, 0, 0.2);
$correct-green: #2fcca1;
$incorrect-orange: #ffbb69;

$success: #2fcca1;
$error: #ff7069;
$warning: #ffbb69;
$info: #549de6;

$header-height: 54px;
$mobile-header-height: 48px;
$spacing: 20px;
$container-width: 800px;
$cmenu: 305.67px;
