main > div[class^="lesson-cards__"] {
    position: relative;
}

.lesson-button {
    position: absolute;

    &--next {
        right: 0;
    }

    &--previous {
        left: 0;
    }

    &--hidden {
        opacity: 0;
        pointer-events: none;
    }
}
